@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "poppins", sans-serif;
  margin: 0;
}
body {
  background: #1e1d2b;
}
li {
  margin: 10px;
}
ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
#Home {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 100px 0;
}
.text {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin-right: 150px;
}
.boton {
  background-color: #1e1d2b;
  width: 20px;
  margin: 5px;
  border: none;
}
.boton .linea {
  height: 2px;
  width: 15px;
  background-color: white;
  margin: 4px 0;
  left: 2px;
}
nav {
  width: 100%;
  height: 50%;
  position: fixed;
  background-color: #2c2b47;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  display: flex;
  align-items: center;
  font-size: 30px;
}
.hamb {
  cursor: pointer;
  float: right;
  padding: 10px 20px;
  display: none;
}
.hamb-line {
  background: #087f5b;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
.hamb-line::before,
.hamb-line::after {
  background: #087f5b;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}
.side-menu {
  display: none;
}
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
a {
  color: #1e1d2b;
}
.bmenu {
  display: block;
  padding: 30px;
  color: white;
  text-decoration: none;
  padding: 1px;
  font-size: 20px;
  border: solid 2px #1e1d2b;
  margin-right: 30px;
}
.bmenu:hover {
  /* border: solid 2px #087f5b; */
  border-radius: 5px;
  color: #ff702a;
}
.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  display: inline-block;
  color: #ff702a;
  margin-left: 60px;
}
.titulo2 {
  display: inline-block;
  color: #ff702a;
  font-size: 65px;
}
.sub {
  font-size: 10px;
}
.car {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}
.car i {
  padding: 2%;
  background-color: #ff702a;
}
.separador {
  height: 4px;
  width: 100%;
  border-color: #ff702a;
  background-color: #ff702a;
}
.sub {
  color: white;
  font-size: 20px;
}
.img img {
  width: 355px;
}
.butt {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #ff702a;
  width: 150px;
  height: 40px;
}
hr {
  background-color: #ff702a;
  height: 4px;
  border: none;
  width: 90%;
}
.About {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
}
.text2 {
  margin-left: 150px;
}
.subtitle {
  color: #ff702a;
  font-size: 18px;
}
.title {
  color: white;
  font-size: 50px;
  margin: 0;
}
.text3 {
  text-align: center;
}
.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0;
}
.options {
  padding-top: 80px;
  display: flex;
}
.product {
  background-color: #ffefe8;
  margin-bottom: 20px;
  margin-right: 40px;
  padding-top: 15px;
}
.product img {
  width: 200px;
  background-color: #ffefe8;
  padding: 0 70px;
}
.food {
  background-color: #ffefe8;
  font-size: 22px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}
.tasty {
  background-color: #ffefe8;
  padding: 0%;
  margin: 0%;
  text-align: center;
}
.price {
  color: #ff702a;
  background-color: #ffefe8;
  margin: 0%;
  padding: 0%;
  text-align: center;
}
.Services {
  margin-bottom: 150px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  margin: 0 50px;
}
.service img {
  width: 180px;
}
.type_service {
  color: #ff702a;
  font-size: 23px;
}
.marketing {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffefe8;
  width: 80%;
  height: 300px;
  margin-bottom: 100px;
  font-size: xxX-large;
  text-align: center;
}
.order {
  color: #1e1d2b;
  background-color: #ff702a;
  padding: 4px;
  color: white;
  width: 150px;
  height: 40px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
  margin-bottom: 70px;
}
.foot {
  margin: 20px 40px;
}
.Contact {
  margin: 20px 40px;
}
.Min {
  width: 50%;
  height: 2px;
  display: flex;
  margin: 0%;
  margin-bottom: 15px;
  padding: 0;
}
.Type_foot {
  color: white;
  font-size: 35px;
  margin: 0%;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.options2 {
  display: flex;
  flex-direction: column;
}
.logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.whats {
  width: 50px;
}
.face {
  width: 38px;
  margin-left: 5px;
}
.insta {
  width: 55px;
}
/* pc */
@media (min-width: 800px) {
  .nav {
    max-height: none;
    height: 100%;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .Menu {
    display: flex;
  }
  .bmenu {
    border-color: #1e1d2b;
  }
  .contenido {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .text {
    padding-right: 100px;
  }
  .info {
    display: flex;
    flex-direction: row;
  }
  .menu li {
    float: left;
  }
  .menu a {
    border: solid 2px #1e1d2b;
  }
  .boton {
    display: none;
  }
  .menu a:hover {
    background-color: transparent;
  }
}
/* celu */
@media (max-width: 768px) {
  .hamb {
    display: block;
  }
  .titulo {
    margin-left: 15px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 0;
  }
  .text {
    text-align: center;
    margin: 0 0 30px;
  }
  .titulo2 {
    font-size: 50px;
  }
  .title {
    font-size: 30px;
  }
  .img img {
    width: 300px;
  }
  .bmenu {
    justify-content: center;
    margin-left: 145px;
    border: #1e1d2b;
  }
  .About {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .text2 {
    margin: 40px 0 0;
  }
  .order {
    margin-top: 20px;
  }
  .Menu2 {
    margin: 90px 0;
  }
  .options {
    display: flex;
    flex-direction: column;
    margin: 0%;
  }
  .product {
    margin-right: 0;
    padding-top: 15px;
  }
  .product img {
    width: 190px;
  }
  .info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 0;
  }
  .Services {
    margin-top: 90px;
  }
  .service {
    margin: 25px 0;
    padding: 0;
  }
  .slogan {
    width: 90%;
  }
  .Slogan_title {
    font-size: 28px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 45px;
  }
}
